body {
  font-family: 'Montserrat', sans-serif;
}

nav,
.navbar-nav a {
  text-transform: uppercase;
  color: white !important;
  font-size: 16px;
}

nav a.active {
  color: #c83dce !important;
  font-weight: bold !important;
}

nav a:hover {
  color: #c83dce !important;
}

nav h5 {
  font-weight: bold;
}

.main {
  color: white;
}

.main h1 {
  font-weight: 100;
}

.main h1 span {
  font-weight: 600;
  color: #c83dce;
}

.main p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
}

.main button {
  background-color: #d40003;
  color: white;
  margin-top: 20px;
}

.card-body {
  position: relative;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  bottom: -10px;
  right: -45px;
  width: 50%;
}









nav h5 {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 50px;
  text-transform: none;
}